@media screen and (max-width: 900px){
   
        footer{
            gap: 15px;
            padding:25px 5px;
        }
        .bottom_figma{
            padding: 10px 5px;
        }
       .section_flex{
       display: flex;
        flex-direction: column;
       }
       .detail{
        display: flex;
        gap: 20px;
       }
        
        .product_item{
            gap: 10px;
        }
        .bottom_bg_clr .container{
            padding: 0px 10px;
        }
 
  }
  @media screen and (max-width: 778px) {
    .head{
        position: sticky;
        z-index: 2;
        top: 0px;
    }
    .ham{
        display: block;
        
    }
    .check{
        display: block;
        position: absolute;
        left: 6px;
        top:20px;
        /* margin-right: 20px; */
    }
    .landing_image{
        display: none;
    }
    .landing_pg_content{
        display: flex;
        align-items: center;
        padding: 20px 0px;
    }
    /* .logo i{
        display: block;
    } */
    .landing_pg_content h1{
        font-size: 40px;
        text-align: center;

    }
    .logo_content{
        margin-left: 10px;
    }
    
     .main {
        position: fixed;
        /* display: flex; */
        visibility: hidden;
        background-color: #FFF2F3;
        padding: 30px;
        /* display: none; */
        width: 50%;
        flex-direction: column;
        transition:all ease-in-out 0.7s;
        top: 50px;
        left: -100%;
        height: 90vh;
        box-shadow: 0px 13px 19px 0px rgba(0,0,0,0.07);
       
    }
    #check:checked ~ .main{
        visibility: visible;
        /* display: block; */
        left: 0px;
    }
    .blank_btn{
        display: none;
    }
    .product{
        display: grid;
        grid-template-columns: 1fr;
       } 
        .product_item{
        display: flex;
        justify-content: center;
       } 
       .staffs_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       }
       .sub_link{
   width: 350px;
       }
       .footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       }
       .site_section .container{
        display: flex;
        flex-direction: column;

       }
       .image_content {
        width: 100%;
        display: flex;
        justify-content: center;
       }
       .image_content img{
        width: 75%;
       }

       .promo_content h2{   
        max-width: 425px;
  }
  .promo_content p{
    max-width: 450px;
  }
  .img_curve{
    max-width: 60%;
  }
}
@media screen and (max-width: 486px)
{
    .sub_link{
        width: 240px;
    }
    .btn{
        font-size: 7px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .bottom_bg_clr h6 {
        max-width: 300px;
    }
    .review{
        display: grid;
        grid-template-columns: 1fr;
        
        gap: 5px;
    }
    .product_item{
       display: flex;
       flex-direction: column;

    }
    .picture_icons{
        width: 100%;
    }
    .picture img{
        width: 100%;
    }
    .staffs_grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .section_product{
        padding: 50px 0px;
    }
    .site_section{
        padding: 50px 0px;
    }
    .section_flex{
      
        place-items: center;
    }
    .title_content h2{
        font-size: 30px;
    }
.title_content{
    align-items: center;
    gap: 20px;
}
.title_content p{
    align-items: center;
    max-width: 350px;
    text-align: center;
}
.promo_content{
    align-items: center;
    gap:20px
}
.promo_content h2{
    font-size: 30px;
}
.promo_content p{
    text-align: center;
}
.sub_content{
    align-items: center;
    gap: 15px;
}
.sub_content h2{
font-size: 30px;
}
.sub_content p{
    text-align: center;
}
    
}
@media screen and (max-width: 399px)

{
    .intro_grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 240px;
    align-items: center;
    }
    .card{
        display: flex;

    }
    .btn{
        padding: 15px 15px;
    }
   
.footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.sub_link{
    width: 175px;
}
.image_content img{
    width: 100%;
}
.product{
    gap: 5px;
}
.section_flex{
    gap: 5px;
}
.review_grid{
    gap: 20px;
}
.review{
    gap: 10px;
}
.card{
    max-width: 100%;
}
.sub_content h2{
   font-size: 32px;
}
.promo_content h2{
    font-size: 32px;
}
.title_content h2{
    font-size: 32px;
}
.btn.landing_btn{
    padding: 15px 15px;
}
.logo i{
    font-size: 15px;
}
.logo h3{
    font-size: 20px;
}
.logo{
    gap: 5px;
}


.title_content h2{
    font-size: 20px;
}
.title_content{
align-items: center;
gap: 20px;
}
.title_content p{
align-items: center;
max-width: 350px;
text-align: center;
}
.promo_content{
align-items: center;
gap:20px
}
.promo_content h2{
font-size: 20px;
}
.promo_content p{
text-align: center;
}
.sub_content{
align-items: center;
gap: 15px;
}
.sub_content h2{
font-size: 20px;
}
.sub_content p{
text-align: center;
}
.bottom_figma h6{
    font-weight: 400;
}
.figma_platform{
    gap: 5px;
}
.landing_pg_content h1{
    font-weight: 800;
    width: 110%;
    font-size: 19px;
    text-align: center;
}
.landing_pg_content h4{
    font-size: 15px;
    text-align: center;
}

}