* {
    box-sizing: border-box;
    font-family: montserrat;
margin: 0;
padding: 0;
}

.container {
    max-width: 1050px;
    margin: auto;
    padding: 0px 20px;
}

.img {
    width: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
/* .landing{
    margin: 0;
} */

:root{
 --primary-color:#96BB7C;
 --heading-color:#252B42;
 --para-color:#737373;
 --introline-color:#E74040;
}
p{
    font-weight: 400;
    font-size: 14px;
    color: var(--para-color)
}
h5{
    font-weight: 700;
    font-size: 16px;
    color: var(--primary-color);
}
h6{
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
}
h4{
    font-weight: 700;
    font-size: 20px;
    color: var(--para-color);
}
h3{
    font-weight: 700;
    font-size: 24px;
    color: var(--heading-color);
}
h1{
    font-weight: 700;
    font-size: 58px;
    color: var(--heading-color);
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--heading-color);
}
.landing_image img{
    width: 100%;
}
/* .nav_bar{
    display: flex;
} */
.btn{
    padding: 15px 30px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: #FFFFFF;

}
.btn.blank_btn{
    padding: 15px 25px;
    color:var(--primary-color);
    background-color: transparent;

}

.btn .filled_btn{
    background-color: var(--primary-color);
    color: #FFFFFF;
    display: flex;
    gap: 5px;
}
.nav_bar{
    display: flex;
    justify-content: space-around;
    flex: 8;
    align-items: center;
}

.landing{
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    align-items: center;
    margin: auto;
}

.landing_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

nav ul {
    display: flex;
    gap: 21px;

}

nav {
    flex: 2;
}

 nav ul li a{
    display: flex;

}
li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color:var(--para-color);
}

ul li {
    list-style: none;
}

.logo {
    color:var(--heading-color);
    font-weight: 700;
    font-size: 24px;
    flex: 1;

}
.head{
    background-color: #FFF2F3;
}
.bg_img{
    background-color: #FFF2F3;
}

.header_btn {
  display: flex;
}

.landing_pg_content h5 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    color:var(--primary-color);
}

.landing_pg_content h1 {
    line-height: 80px;
    font-size: 58px;
    font-weight: 700;
    max-width: 600px;
    color:var(--heading-color);
}

.landing_pg_content h4 {
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    max-width: 305px;
    color:var(--para-color)
}

.landing_pg_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.btn.landing_btn{
    border: 1px solid var(--primary-color);
    padding: 15px 25px;
    background-color: transparent;
color: var(--primary-color);
}

.landing_img img{
    max-width: 100%;
}


/* section 1*/
.section_flex{
    display: flex;
}

.intro_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 50%; */
    gap: 30px;
}

.site_section .container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 35px;
}

.sub_content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.card {
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 21px 19px;
}

.site_section {
    padding: 120px 0px;
}

.sub_content h2 {
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    max-width: 460px;
}

.sub_content p {
    font-weight: 400;
    font-size: 14px;
    color: #737373;

}

.line {
    width: 94px;
    height: 7px;
  background-color:var(--introline-color);

}

.link_button a {
    font-weight: 700;
    font-size: 14px;
    padding: 5px 0px;
    line-height: 24px;
    color:var(--primary-color);
    background-color: transparent;
    border: none;
    text-decoration: none;
    


}


.card_line {
    width: 50px;
    height: 2px;
    background-color: #E74040;
}
.intro_icon{
    width: 68px;
    padding: 21px 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--primary-color);

}
.intro_icon i{
    font-size: 25px;
    color: white;
}


.card h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}

.card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 263px;
    color: #737373;
}



/* section_2 */

.promo_content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
}

.image_content {
    flex: 1;
}


.image_content img {
    width: 100%;
}

.promo_content h2 {
    max-width: 280px;
    color:var(--heading-color);
}

.promo_content p {
    
    max-width: 355px;
    color:var(--para-color);
}


/*section_3 */
.ig{
    color: black;
}
.detail_icon small{
    font-size: 12px;
    font-weight: 400;
}
.detail_icon_a small{
    font-size: 12px;
    font-weight: 400;
}
.detail_icon_b small{
    font-size: 12px;
    font-weight: 400;
}
.detail p{
    max-width: 270px;

}

.icon_button{
    height: 40px;
    weight: 40px;
    border-radius: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.section_product{
    padding: 120px 0px;
}

.title_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 90px;
}
.title_content p{
max-width: 445px;
}
.product{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.detail{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.rating_star{
    border-radius: 20px;
    background-color: var(--heading-color);
    padding: 5px;
    display: flex;
    gap: 5px;
}
.rating_star i{
    color: #FFCE31;
}
.rating_star h6{
    color: #FFFFFF;
    font-weight: 400;
}
.detail h5{
color: var(--heading-color);
}

.product_item{
    display: flex;
    gap: 30px;
}
.rating{
    display: flex;
    gap: 35px;
    align-items: center;
}
.download{
    display: flex;
    gap: 10px;
}
.download h6{
    color: var(--para-color);
}
    
.bill{
    display: flex;
    gap: 5px;  
}
.bill h5{
color: var(--para-color);
}
.bill span{
    font-weight: 700;
    font-size: 16px;
    color: #FFAB71;
}
.bottom{
    display: flex;
    gap: 15px;
}
.small{
    font-size: 12px;
    font-weight: 400;
}
.detail_icon i{
    color: #96BB7C;
}
.detail_icon_a i{
    color: #E77C40;
}
.detail_icon_b i{
    color: #FFAB71;
}

.picture_icons{
    position: absolute; 

}

label{
    top: 20px;
    left: 20px;
    border-radius: 3px;
    padding: 3px 10px;
    background-color: #E74040;
    color: #FFFFFF;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
}
.picture{
    position: relative;
}
.picture_icons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    gap: 10px;
}
.picture_icons button{
    height: 40px;
    width: 40px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
    border-style: none;

    
}
.product_btn{
    display: flex;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    gap: 10px;
    border-radius: 37px;
    background-color: transparent;
    align-items: end;
}
.product_btn i{
    color: var(--primary-color);
}



/* section 4 */

.review{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.review_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.review_grid p{
    max-width: 310px;
    align-items: center;
    display: flex;
}
.review_star i{
    color: #F3CD03;
}
.review_grid h5{
    color: var(--heading-color);
}
.review_grid h6{
    color : var(--para-color);
}

/* section 5 */
.staff_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 0px 13px 19px 0px #00000012;
    gap: 20px;
    overflow: hidden;
}
.imgcurve{
    width: 100%;
}
.staffs_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.staff_detail h5{
color: var(--heading-color);
}

.staff_detail h6{
    color: var(--para-color);
}

.staff_detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.online_platform{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 25px;
}
.online_platform i{
    color: var(--primary-color);
}
.imgcurve{
    border-radius: 15px 15px 0px 0px;
}
.staff_grid{
    border-radius: 0px 0px 15px 15px;

}



/* section 6 */
.title_content.center{
    align-items: center;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
}

.email {
    display: flex;
    justify-content: center;
}
.btn.filled_btn.form_btn{
    border-radius: 0px 10px 10px 0px;
} 

.sub_link {
    width: 571px;
    height: 48px;
    border: none;
    background-color: white;
    outline: none;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;

}
::placeholder{
    font-weight: 550;
}



/* footer */

.footer{
    max-width: 1050px;
    margin: auto;
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  padding: 50px 0px;
  gap: 30px;

}
.footer h6 a{
    text-decoration: none;
    color: var(--para-color);

}
.it{
    font-size: 25px;
}
.ip{
    font-size: 19px;
}
.footer_media h5{
    color: var(--heading-color);
}


.footer h5{
    color: var(--heading-color);
}
.footer a {
    text-decoration: none; 
    color: var(--para-color);  
}
.footer_grids{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_media{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer_media a{
    max-width: 500px;
}
.contact a{
    color: var(--para-color);
    font-size: 14px;
    font-weight: 700;
    max-width: 275px;
   
}
.contact{
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact i{
  
    color: var(--primary-color);
}

/* bottom section */

.bottom_bg_clr {
    background-color: #FAFAFA;
}
.figma_platform{
    display: flex;
}
.bottom_bg_clr .container {

    padding: 25px 5px;
}
.bottom_bg_clr h6{
    color: var(--para-color);
}
.figma_platform i{
    color: var(--primary-color);
    font-size: 20px;
   
}
.bottom_figma{
    display: flex;
    justify-content: space-between;
}
.figma_platform{
    gap: 20px;
    display: flex;
}