*{
    box-sizing: border-box;
    font-family: montserrat;
  
}
.container{
    max-width: 1050px;
    margin: auto;
}
.image{
    max-width: 100%;
}

body{
    margin: 0;
}


.margin-zero{
    margin: 0px;
    padding: 0px;
}

.landing_container {
    /* display: flex; */
    max-width: 1200px;
    align-items: center;
    /* justify-content: space-between; */
    margin: auto;
}

.bg-color{
   background-color: #FFF2F3; 
}

.landing_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
 }

 nav ul{
    display: flex;
    gap: 21px;

 }

 nav{
    flex: 2;
 }
 
 li a{
text-decoration: none;
font-weight: 700;
font-size: 14px;
color: #737373;
}

ul li{
    list-style: none;
}

.logo{
    color: #252B42;
    font-weight: 700;
    font-size: 24px;
    flex: 1;

}

.header_btn{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;  
    flex: 1; 
}

.blank_btn{
    background-color: transparent;
    color: #96BB7C;
    border: none;
}
.filled_btn{
    background-color: #96BB7C;
    color:#FFFFFF ;
    padding:15px 25px ;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}


.filled_btn:hover{
color: darkred;
}
   
.blank_landing_btn{
    font-size: 14px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 5px;
    color: #96BB7C;
    background-color: transparent;
    border: 1px solid  #96BB7C;
  
}


.main_content{
    display: flex;
     justify-content: center;
     gap: 30px;
    

}
.left_content h5{
    line-height:24px;
    font-size: 16px;
    font-weight: 700;
    color:
    #96BB7C;
    }
    .left_content h1{
        line-height: 80px;
        font-size: 58px; 
        font-weight: 700; 
        max-width: 600px;
        color: #252B42;
    }
    .left_content h4{
        line-height: 30px;
        font-size: 20px; 
        font-weight: 400;
        max-width: 305px; 
        color: #737373;
    }
    .left_content{
        display: flex;
        flex-direction: column;
        gap: 15px;
       justify-content: center;

    }

    .landing_container{  
   background-color: #FFF2F3; 
  
    }
    
    .image img{ 
         max-width: 100%;
    }


        /* section 1*/

    .board{
        display: flex;
        gap: 30px;
    }
    .section_packages{
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 35px;
    }
    .sub_content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .card_1{
        box-shadow: 0px 13px 19px 0px #00000012;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 21px 19px;
    }
   
    
    .card_1 img{
        max-width: 60px;
    }
  
    .site_section{
        padding: 160px 0px;
    }

   .sub_content h2{
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    max-width: 460px;
   }

   .sub_content p{
    font-weight: 400;
    font-size: 14px;
    color: #737373;

   }

   .line{
    width: 94px;
    height: 7px;
    background-color: #E74040;
   }

   .link_button a{
    font-weight: 700;
    font-size: 14px;
    padding: 5px 0px;
    line-height: 24px;
    color: #96BB7C;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 14px;


   }

   
   .card_1_line{
    width: 50px;
    height: 2px;
    background-color:  #E74040;
   }
  
.card_1 h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}
.card_1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 263px;
    color: #737373;
}

/* section_2 */

.video_section{
    display: flex;
    padding: 160px 0px;
}

.right_content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
}

.image_content{
    flex: 1;
}

.section_2_line{
    width: 94px;
    height: 7px;
    background-color: #E74040;
}

.image_content img{
    max-width: 100%;
}

.right_content h2{
    max-width: 280px;
font-weight: 700;
font-size: 40px;
color: #252B42;
}
.right_content p{
    font-weight: 400;
    font-size: 14px;
    max-width: 355px;
    color: #737373;
}


/*section_3 */

.product{
    padding: 160px 0px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.top_content{
    gap: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.top_content h6{
    font-weight: 700;
    color: #96BB7C;
    font-size: 14px;
}
.top_content h2{
    font-weight: 700;
    font-size: 40px;
}

.top_content p{
    font-weight: 400;
    font-size: 14px;
    max-width: 394px;
    color: #737373;
}

.picture{
    position: relative;
}

.inside_btn{
    position: absolute;
    top: 0;
    background-color:#E74040 ;
    color: white;
    border: none;
    top: 20px;
    left: 20px;
}

.picture_icons{
    position: absolute;

    display: flex;
    gap: 10px;
top: 338px;
left: 35px;
}
.icon_icon{
    background: white;
    border-radius: 45px;
    width: 40px;
    height: 40px;
    padding: 12px 12px;

}

.rating{
    display: flex;
    gap: 30px;

}
.template{
    display: flex;
}
.rating h6{
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #96BB7C;
}
.rate_btn{
    width: 50px;
    height: 26px;
    background-color: #2D4059;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.detail h5{
font-weight: 700;
font-size: 16px;
}
.detail p{
    max-width: 266px;
    font-size: 14px;
    font-weight: 400;
}
.download{
   display: flex; 
   align-items: end;
    gap: 7px;
}
.download h6{
    color: #737373;
    font-size: 14px;
    font-weight: 700;
}
.bill{
    display: flex;
    gap: 5px;
}
.bill h5{
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 700;
}
.bill span{
    color: #FFAB71;
    font-weight: 700;
    font-size: 16px;
}
.bottom{
    display: flex;
    gap: 10px;
}
.text_icon {
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}
.detail_button{
    display: flex;
    align-items:end;
    color: #96BB7C;
}
.product_btn i{
    align-items: center;

}

.product_btn{
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    color: #96BB7C;
    border-radius: 37px;
    padding: 10px 20px;
    border: 1px solid #96BB7C;
    display: flex;
    gap: 4px;
    align-items: center;
}
.cart{
display: flex;
gap: 10px;

}

.template{
flex: 1;
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 25px 25px 35px 25px;
    
}


/* section 4 */

.banner{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 160px 0px 0px 0px;
}

.banner h6{
    font-weight: 700;
    font-size: 14px;
    color: #96BB7C;
}
.banner h2{
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
}
.banner p{
    font-weight: 400;
    font-size: 14px;
    color: #737373;
    max-width: 400px;
}
.review_content{
    display: flex;
    padding: 0px 0px 160px 0px;
}
.total_review p{
max-width: 340px;
font-weight: 400;
font-size: 14px;
color: #737373;
    
}
.index{
   display: flex;
    flex-direction: column;
    gap: 75px;

}
.total_review{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    flex: 1;
}
.total_review img{
    max-width: 100px;
}
.review_content{
    gap: 30px;
}

/* section 5 */

.profession_top h6{
    font-size:14px ;
    font-weight: 700;
    color:#96BB7C; 
}
.profession_top h3{
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}
.profession_top p{
    font-weight: 400;
    font-size: 14px;
    color: #737373;
    max-width: 440px;
}
.profession_review{
    display: flex;
    gap: 29px;
    padding: 0px 0px 112px 0px;
}
.card_topic{
   display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}
.site{
    color: #96BB7C;
    border: none;
    background-color: transparent;
    font-size: 18px;
}
.profession_top{
    padding: 112px 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.card_topic h5{
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
}
.card_topic h6{
    font-weight: 400;
    font-size: 12px;
    color: #737373;
}
.online_platform{
    gap: 10px;
    display: flex;
}
.profession_class{
    box-shadow: 0px 13px 19px 0px #00000012;
    border-radius: 20px;

}
.profession_class img{
    border-radius: 20px 20px 0px 0px;
}

/* section 6 */

.subscribe_pg{
    background-color: #FFF2F3;
    padding: 0px 0px 160px 0px;
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.course_detail_top h6{
    font-weight: 700;
    font-size: 14px;
    color: #96BB7C;

}
.course_detail_top h3{
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}

.course_detail_top p{
    font-weight: 400;
    font-size:14px;
    color: #737373;
    max-width: 394px;
}
.course_detail_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px 0px 0px;
    gap: 20px;
}

.email{
    display: flex;
    justify-content: center;
    gap: 0px;
    

}
.sub_link{
    min-width: 575px;
    height: 58px;
    border: none;
    background-color: white;
    position: relative;

}
.subscribe_btn{
background-color: #96BB7C;
border-radius: 0px, 5px, 5px, 0px;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
border:  1px solid #E6E6E6;
Width: 117px;
Height: 58px;
position: absolute;

}
/* footer */

.footer_pg{
    display: flex;
    gap: 50px;
    justify-content: center;  
    padding: 50px 0px;
}
.footer_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_card h5{
    font-size: 16px;
    font-weight: 700;
    color: #252B42;
    text-decoration: none;
}

.footer_card a{
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    text-decoration: none;
}
.footer_card_1{
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 325px;
}
.footer_card_1 h5 {
  
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
}
.footer_card_1 a{
text-decoration: none;
font-weight: 700;
font-size: 14px;
color: #737373;
}
.footer_card_1 i{
    color: #96BB7C;
    font-size: 17px;
}
/* bottom section */

.figma_content{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    
}
.figma_content h6{
font-weight: 700;
font-size: 14px;
color: #737373;
}

.figma_platform {
    color: #96BB7C;
    display: flex;
    gap: 20px;

}
.footer_bg_clr{
    background-color:#FAFAFA;
}